/* playfare google font  */
@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[2rem] md:text-[3.2rem];
  }

  h2 {
    @apply text-2xl sm:text-3xl md:text-5xl;
  }

  h3 {
    @apply text-xl md:text-2xl;
  }

  h4 {
    @apply text-base md:text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-sm;
  }

  p {
    @apply text-sm sm:text-base;
  }
  :root {
    --radius: 0.5rem;
  }
}

.cus-container {
  @apply container mx-auto px-5;
}

.header {
  font-family: "Playfair", serif;
  font-style: italic;
}

.hero-banner {
  @apply bg-[url("/shoping.png")] bg-no-repeat bg-contain bg-bottom bg-blend-luminosity;
}

.trans {
  @apply transition-all duration-500;
}
